# LIST

In [2]:
x=3 # single value stored in a variable

In [4]:
y=[4,7,55,89]   # multiple value stored in a variable i.e. LIST
y

[4, 7, 55, 89]

In [6]:
name=['hasan','shamoon','umer']
name

['hasan', 'shamoon', 'umer']

In [7]:
z=['karachi','1999',25043] #multiple data types in a list
z

['karachi', '1999', 25043]

In [9]:
fruits=['apple','mango','banana'] #INDEX means position of member in a list
#index=    0       1       2
fruits[2]

'banana'

In [10]:
len(fruits) #finds length of the list

3

In [11]:
del fruits[1] #  delete member of a list by index number INPLACE DELETE (delete  permenantely) i.e delete statement

In [12]:
fruits

['apple', 'banana']

In [16]:
fruits.remove('apple') # REMOVE FUNCTION means member remove by name
fruits

[]

In [17]:
fruits=['apple','mango','banana']

In [18]:
fruits[1]='banana' # insert value through index number
fruits

['apple', 'banana', 'banana']

In [21]:
fruits.append('peech') #append means inserts value at the end of the list 
fruits

['apple', 'banana', 'banana', 'apple', 'peech']

In [22]:
fruits.insert(0,'grape') # insert means insert value by using index number
fruits

['grape', 'apple', 'banana', 'banana', 'apple', 'peech']

In [24]:
fruits.insert(10,'pineapple')
fruits

['grape',
 'apple',
 'banana',
 'banana',
 'apple',
 'peech',
 'pineapple',
 'pineapple']

In [26]:
fruits.index('pineapple')

6

In [27]:
dir(fruits) #irrelevant

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [30]:
fruits.count('pineapple')

2

In [32]:
a=[56,98,55,104] #ascending sort
a.sort()
a

[55, 56, 98, 104]

In [33]:
a=[56,98,55,104] #descending  with sort  (reverse list with sorting)
a.sort(reverse=True)
a

[104, 98, 56, 55]

In [34]:
random=[27,45,12,89,33,99] #descending without sort (reverse list without sorting)
random.reverse()
random

[99, 33, 89, 12, 45, 27]

In [35]:
b=random # PASS BY REFERENCE (address of 'b' and 'random' is same)
b

[99, 33, 89, 12, 45, 27]

In [38]:
random.append(120)
random

[99, 33, 89, 12, 45, 27, 120, 120, 120]

In [39]:
b

[99, 33, 89, 12, 45, 27, 120, 120, 120]

In [40]:
id(b)

1590330281864

In [41]:
id(random)

1590330281864

In [42]:
b.append('new') #pass by reference
random

[99, 33, 89, 12, 45, 27, 120, 120, 120, 'new']

In [45]:
c=random.copy() 3 # PASS BY VALUE (address is differnt)

In [46]:
c

[99, 33, 89, 12, 45, 27, 120, 120, 120, 'new']

In [47]:
c.append(131)
c

[99, 33, 89, 12, 45, 27, 120, 120, 120, 'new', 131]

In [48]:
random

[99, 33, 89, 12, 45, 27, 120, 120, 120, 'new']

In [49]:
id(c)

1590319805704

In [50]:
id(random)

1590330281864

In [51]:
popped_element=random.pop()

In [52]:
random

[99, 33, 89, 12, 45, 27, 120, 120, 120]

In [53]:
popped_element

'new'

In [64]:
popped_element=random.pop()

IndexError: pop from empty list

In [65]:
popped_element

99

In [5]:

new_list=[]

In [6]:
random=[99,33,89,12,45,27]

In [13]:
new_list.append(random.pop())

In [14]:
new_list

[27, 45, 12, 89]

In [120]:
new_list.pop(2) # pop value by undex number

12

# Slicing (always from left to right)

In [121]:
a_list=[10,9,8,7,6,5,4,3,2,1]
a_list[4]

6

In [122]:
a_list[2:5] #slice if element takes place (is we take  2 to 5 then we write 2:4)

[8, 7, 6]

In [123]:
a_list[4:] # slice till last  value from our value

[6, 5, 4, 3, 2, 1]

In [124]:
a_list[:2]# slice from first value till our value

[10, 9]

In [125]:
students=['asad','fahad','kamram','hasan','shamoon'] #negative indexing

In [126]:
students[-5]

'asad'

In [127]:
students[-5:-3]

['asad', 'fahad']

In [128]:
students[-5:2]

['asad', 'fahad']

In [129]:
students[-4:4]

['fahad', 'kamram', 'hasan']

# TUPLES

In [130]:
a=(1,2,3,4,5,6) #its values cannot be changed or replaced

In [131]:
a

(1, 2, 3, 4, 5, 6)

In [133]:
a[3]

4

In [134]:
b=('hasan',1999)

In [135]:
b

('hasan', 1999)

In [136]:
a= 2,3,5, # more than one value with or without bracket creates TUPLE
a

(2, 3, 5)

In [137]:
a=2,5,9,7 #packing
a

(2, 5, 9, 7)

In [139]:
w,x,y,z=a #unpacking

In [140]:
x

5

In [141]:
y

9

In [142]:
z

7

In [143]:
w

2

# List in list tuple in list etcetc

In [146]:
list_in_list=[1,2,3,['apple','orange','banana']]

In [147]:
list_in_list[3]

['apple', 'orange', 'banana']

In [148]:
list_in_list[3][0]

'apple'

In [149]:
list_in_list[3][0]='eggs'

In [150]:
list_in_list

[1, 2, 3, ['eggs', 'orange', 'banana']]

In [151]:
list_in_list[3][0]='apple'

In [154]:
list_in_list[3].insert(0,'apple') #insert by value

In [155]:
list_in_list

[1, 2, 3, ['apple', 'apple', 'orange', 'banana']]

In [158]:
list_in_list[3].remove('apple')
list_in_list

[1, 2, 3, ['apple', 'orange', 'banana']]

# ASSIGNMENT

In [3]:
list=['fajar','zohar','asar','maghrib','eshaaa']
done_list=[]
x=input('How many namazes have you done today ? ').lower()
if x in list:
    y=list.index(x)
    list.pop(y)
    done_list.append(x)
    print ('You  have done',done_list)
else:
    print ('your input not in the list')

How many namazes have you done today ? asar
You  have done ['asar']

In [4]:
list=['fajar','zohar','asar','maghrib','eshaaa']
done_list=[]
x=input('How many namazes have you done today ? ').lower()
if x in list:
    y=list.index(x)
    list.pop(y)
    done_list.append(x)
    print ('You  have done',done_list)
else:
    print ('your input not in the list')

How many namazes have you done today ? taraweeh
your input not in the list