# FOR LOOP

In [1]:
students=['hamza','hasan','saqib','shahzad']

In [2]:
print(students)

['hamza', 'hasan', 'saqib', 'shahzad']

In [3]:
for student in students:
    print(student)

hamza
hasan
saqib
shahzad

In [6]:
for student in students:
    if student=='shahzad':
        print(f'{student} get out')
    else:
        print(f'{student} come in')

hamza come in
hasan come in
saqib come in
shahzad get out

In [7]:
for a in 'pakistan':
    print(a)

p
a
k
i
s
t
a
n

In [9]:
for a in 'pakistan':
    print(a,end= ' ')

p a k i s t a n

In [10]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [11]:
for number in range(10):
    print(number,end=' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
for number in range(1,10):
    print(number,end=' ')

1 2 3 4 5 6 7 8 9

In [18]:
x=int(input('Enter your table no:'))
for y in range (1,11):
    print(f'{x} * {y} = {x*y}')

Enter your table no:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
for number in range(0,25,2): #third parameter is step value
    print(number,end =' ')  #Generates even number

0 2 4 6 8 10 12 14 16 18 20 22 24

In [21]:
for number in range(1,25,2): #third parameter is step value
    print(number,end =' ')  #Generates odd number

1 3 5 7 9 11 13 15 17 19 21 23

In [22]:
for number in range(25,0,-1): #backword counting
    print(number,end =' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [25]:
x=int(input('Enter your table no:'))
for y in range (1,10):
    if y % 2 == 0:                    #skip
        continue
    else:
        print(f'{x} * {y} = {x*y}')

Enter your table no:2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18

In [26]:
x=int(input('Enter your table no:'))
for y in range (1,10):
    if y % 2 == 0:                    #skip
        break
    else:
        print(f'{x} * {y} = {x*y}')

Enter your table no:4
4 * 1 = 4

In [29]:
best_friends=[]
for num in range (1,11):
    name=input('Enter your name:')
    if name.startswith('a'):
        continue
    else:
        best_friends.append(name)
print (best_friends)

Enter your name:ejfiu
Enter your name: cfcjejhfuie
Enter your name:dcen
Enter your name:sscmmiomfi
Enter your name:aksncion
Enter your name:dcmcmioec'
Enter your name:aancen
Enter your name:cnnc'
Enter your name:ncnjne
Enter your name:ncfjnf
['ejfiu', ' cfcjejhfuie', 'dcen', 'sscmmiomfi', "dcmcmioec'", "cnnc'", 'ncnjne', 'ncfjnf']

In [28]:
print(best_friends)

['hasan', 'umer', 'ali', 'afaaaq', 'ahmed', 'subhan', 'daniyal', 'nabeel', 'kareem', 'anil']

In [31]:
best_friends=[]
for num in range (3):
    name=input('Enter your name:')
    if 'a' in name:
        continue
    else:
        best_friends.append(name)
print (best_friends)

Enter your name:faqi
Enter your name:kaamran
Enter your name:umer
['umer']

# Nested FOR Loop

In [36]:
for a in [1,2,3,4,5]:
    for b in 'nasir':
        print(a,b)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r
4 n
4 a
4 s
4 i
4 r
5 n
5 a
5 s
5 i
5 r

In [45]:
for a in range(1,11):
    print("-------------")
    for y in range (1,11):
        print(f'{a} * {y} = {a*y}')

-------------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
-------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
-------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
-------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
-------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
-------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
-------------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# List Comprehension

In [46]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
[num**2 for num in range(1,10)]    #LIST comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
[num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]