# First class of Python

In this class, we learn simple code on Python

In [1]:
print (12,"true",'hello world')

12 true hello world

In [2]:
print (12,"true",'hello world')

12 true hello world

In [10]:
print (12,"true",'hello world',sep = ' ; ')

12 ; true ; hello world

In [8]:
print (45, "hasan", sep=" and ")

45 and hasan

In [9]:
print('hello karachi',)
print('hello islamabad')
print('hello lahore')

hello karachi
hello islamabad
hello lahore

In [11]:
print('hello karachi',end=' and ')
print('hello islamabad',end=' and ')
print('hello lahore')

hello karachi and hello islamabad and hello lahore

In [16]:
name = 'hasan'
id (name)

1872974573440

In [17]:
name= 'shamoon'
id (name)

1872985157168

In [18]:
name='fahad'

In [20]:
x=256
x+2

258

In [22]:
x=256
x=x+4
print(x)

260

In [25]:
a=5
b='6'
c=a+int(b)
print(c)

11

In [26]:
a=5
b='6'
c=str(a)+b
print(c)

56

In [28]:
name='hasan'
age=20
print('my name is {} and my age is {}'.format(name,age))

my name is hasan and my age is 20

In [29]:
name='hasan'
age=20
print(f'my name is {name} and my age is {age}')

my name is hasan and my age is 20

In [30]:
name=input ('what is your name:')
age=input('what is your age:')
print(f'my name is {name} and my age is {age}')

what is your name:Muhammad Hasan
what is your age:20
my name is Muhammad Hasan and my age is 20